.info{
    margin-top: 64px;
    background-color: black;
    margin-left: 76px;
    border-color: black;
    width: 91%;
    height: 233px;
    margin-bottom: 47px;
    border-radius: 10px;
    color: white;
    padding-bottom: 200px;
    font-size: 18px;
}
.button{
    margin-left: 69%;
    max-width: 277px;
    min-width: 100px;
    height: 76px;
    margin-right: 86px;
    background-color: black;
    border-color: black;
    color: white;
    font-size: 24px;
    border-radius: 15px;
    margin-bottom: 46px;
    cursor: pointer;
}
.bord{
    max-width: 100%;
    height: 58px;
    background-color: #312828;
}
.add-post-container{
    display: flex;
    flex-direction: column;
}
.add-post-info{
    margin-right: 76px;
}
@media (max-width:700px ) {
    .info {
        font-size: 18px;
        margin-left: 60px;
    }

    .button {
        font-size: 18px;
        margin-left: 59%;
    }
}


