.all{
    background-color: #312828;
    font-family: 'Montserrat';
    min-height: 1080px;

}
.app{
    margin: 0 auto;
    max-width: 1160px;
    background-color: #403636;
    min-height: 1080px;
}
