.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    height: 107px;
}

.search {
    border-radius: 20px;
    max-width: 30%;
    height: 46px;
    margin-left: 86px;
    background-color: #312828;
    border-color: black;
    padding-left: 25px;
    font-size: 24px;
    color: white;
}
.profile_img{
    height: 80px;
    margin-right: 86px;
}
@media (max-width:500px) {
    .search{
        font-size: 18px;
    }

}@media (max-width:600px) {
    .search{
        margin-right: 45px;
        margin-left: 60px;
    }

}